body {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

h2 {
  color: #46ba3c;
  font-weight: bold;
}

button {
  border: none;
  padding: 0;
  color: transparent;
  cursor: pointer;
}

span {
  font-size: 25px;
  background-color: #292929;
  color: #cccccc;
  font-weight: bold;
  border-bottom: 1px solid #292929;
  transition: color 0.3s ease;
  &:hover {
    color: #339FD6;
  }
}
