body {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #a20016;
  font-weight: bold;
}

button {
  border: none;
  padding: 0;
  color: transparent;
  cursor: pointer;
}

span {
  font-size: 25px;
  color: #4682b4;
  font-weight: bold;
}
